
.right_col{
	max-height: 950px;
	margin-bottom:20px;
}

@media only screen and (min-device-width: 480px) {

	html, body {margin: 0; height: 100%; overflow: hidden}	
	
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-top:10px;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.containerbody {
	margin-top:20px;
	
}

.containerbody p{
	color:red;
	font-size:30px;
}

.containerbody .row{
	padding:30px;
}

.containerbody	input[type=text] {
		   font-size:20;
		   padding-left:8px;
		   width:250px;
		   border-radius:5px;
		   border-color:black;
		   border-width:1px;
		   height:40px;
		}